<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write your entry</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <h1>Journal Entries</h1>
    <ul>
      <% Entries.forEach( el => { %>
      <li class="entryItem" data-id="<%=el._id%>">
        <span><%= el.title %></span>
        <span><%= el.entry %></span>
        <span class="del"> Delete </span>
      </li>
      <% }) %>
    </ul>

    <h2><%= user.userName %> has written <%= total %> journal entries.</h2>

    <form action="/entries/createEntry" method="POST">
      <input type="text" placeholder="Enter title " name="titleItem" />
      <input type="text" placeholder="Enter journal text" name="entryItem" />
      <input type="submit" />
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
  </body>
</html>
